/*ip table*/
.ip-table {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $white;
    border: 1px solid $border-color;
    @include make-row('flex');

    &.horizontal {
        border-left: 0;
        border-right: 0;
    }
    &.vertical {
        border-top: 0;
        border-bottom: 0;
    }
    &.none {
        border: 0;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }
    tr {
        background: $white;
        border-bottom: 1px solid $border-color;
    }
    th, td {
        padding: 6px;
        font-size: 13px;
        a.virtul-btn {
            padding: 0 6px;
        }
        &.readonly {
            color: #999999;
        }
        &:first-child {
            padding-left: 10px;
        }
        &:not(:last-child) {
            border-right: 1px solid $border-color;
        }
    }
    th {
        background: #F0F0F0;
    }

    &.th-mode {
        th, td {
            border: none;
        }
    }

    .ip-table-header {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        &.tl {
            td, th {
                text-align: left;
            }
        }
        &.tc {
            td, th {
                text-align: center;
            }
        }
    }
    .ip-table-body {
        tr {
            &.odd, &.ignore {
                background: #f9f9f9;
            }
            &.checked, &.focus, &:hover {
                background: #e3f2ff;
            }
            &.disabled {
                background: #f9f9f9!important;
            }
            &.ignore, &.disabled {
                td {
                    color: #999!important;
                }
            }
        }
        &.tc {
            td, th {
                text-align: center;
            }
        }
    }
    .ip-pagination {
        border-top: 1px solid $border-color;
    }

    &.strict {
        .ellipsis {
            @include multi-ellipsis();
        }
        .text-ellipsis {
            @include text-ellipsis();
        }
    }
    .t-date, .t-time {
        margin: 0 2px;
        display: inline-block;
        white-space: nowrap;
    }
}

.hideBorderBottom table tr:last-child {
    border-bottom: transparent;
}