.container {
    @include make-container();
}
/***************
 * 弹性布局
***************/
.flex {
    @include make-row('flex');
}
.flex-column {
    @include make-vertical-row();
}

@for $i from 1 through $grows {
    .flex-#{$i} {
        @include make-flex-grow($i);
    }
}
/***************
 * 栅格布局
***************/
.row {
    @include make-row('row');
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

@include make-grid-columns();
