/***自定义弹窗***/
.ip-popup {
    @include make-mask(.3, #000, false, true);
    animation: fadeIn .1s ease-in-out;
    @include make-row('flex');
    justify-content: center;
    align-items: center;
}
.ip-popup-iframe {
    @include make-mask(.3, #000, true, true);
    animation: fadeIn .1s ease-in-out;
    @include make-row('flex');
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        @include fade(#000, 0);
    }
    100% {
        @include fade(#000, .3);
    }
}

.ip-popup-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include dialog-size($popup-width, $popup-height);
    @include make-row('flex');
    @include make-vertical-row();
    background: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, .33);
    //
    .ip-popup-header {
        padding-left: .75rem;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        border-bottom: 1px solid $border-color;
        background: $popup-gray;
        @include text-ellipsis();
        a, .close {
            float: right;
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: $gray-800;
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            &:hover {
                background: $red;
                color: $white;
            }
        }
    }
    .ip-popup-content {
        overflow: auto;
        @include make-flex-grow(1);
        background: $white;
    }
    .ip-popup-footer {
        height: 50px;
        padding: 8px;
        border-top: 1px solid $border-color;
        text-align: right;
        background: $popup-gray;
        .ip-btn:not(:last-child) {
            margin-right: 10px;
        }
    }
}



//dialog size
.ip-popup-dialog-sm {
    @include dialog-size($popup-width-sm, $popup-height-sm);
}
.ip-popup-dialog-lg {
    @include dialog-size($popup-width-lg, $popup-height-lg);
}