/***警告和提示框***/
.ip-prompt{
    @include make-mask(.3, #000, false, true);
    pointer-events: all;
}

.ip-prompt-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $prompt-width;
    height: $prompt-height;
    overflow: hidden;
    @include make-row('flex');
    @include make-vertical-row();
    background: $white;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    .ip-prompt-dialog-content {
        @include make-flex-grow(1);
        padding: 30px 30px 10px 30px;
        @include make-row('flex');
        i.iconfont {
            margin-right: 5px;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 24px;
        }
        .text-content {
            @include make-flex-grow(1);
            .main-text {
                padding: 5px 0;
                color: $gray-800;
                font-size: $font-size-lg;
                line-height: 20px;
            }
            .sub-text {
                color: $gray-600;
                font-size: $font-size-sm;
                line-height: 20px;
            }
        }
    }
    .ip-prompt-footer {
        padding: 10px 30px 30px 30px;
        text-align: right;
    }

    // &.showing {
    //     animation: floatDown .35s ease-out;
    //     animation-fill-mode: forwards;
    // }
    
    // &.hiding {
    //     animation: floatUp .35s ease-out;
    //     animation-fill-mode: forwards;
    // }
}

/***tips***/
.ip-message {
    position: fixed;
    top: 16px;
    left: 0;
    z-index: 1010;
    width: 100%;
    pointer-events: none;
}

.ip-tips-notice {
    text-align: center;
    margin-bottom: 8px;
    .ip-tips-content{
        display: inline-block;
        min-width: 330px;
        color: #000;
        padding: 10px 10px;
        font-size: 14px;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        text-align: left;
        pointer-events: all;
        > * {
            vertical-align: middle;
        }
        .iconfont {
            font-size:26px;
            margin-right:5px;
            color: #FFBF00;
        }
        @each $type, $value in $tipsMap {
            &.ip-tips-#{$type} {
                background: nth($value, 1);
                border: 1px solid nth($value, 2);
                .iconfont {
                    color: nth($value, 3);
                }
            }
        }
    }
}

/***loading***/
@keyframes loadingCircle {
    100% {
      transform: rotate(360deg);
    }
}
.ip-spin {
    display: inline-block;
    animation: loadingCircle 1s infinite linear;
    -webkit-animation: loadingCircle 1s infinite linear;
    margin-right:8px;
}
.ip-btn-loading {
    background-color: #52b0f3;
    border-color: transparent;
    padding-left: 20px;
    pointer-events: none;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    .ip-btn-loading .iconfont{
        margin:0;
    }
    .ip-btn-loading span{
        margin-left: 8px;
    }
}