.ip-select {
    position: relative;
    display: inline-block;
    width: $select-width;
    border: $btn-border-width solid $input-btn-border-color;
    background: $white;
    vertical-align: middle;
    @include input-size($input-padding-y, $input-padding-x, $font-size-base, $input-line-height, $input-btn-border-radius);
    padding-right: 20px;
    @include text-ellipsis();

    &:not(.disabled):hover {
        outline: 0;
        border-color: $primary;
    }

    &.focus,
    &:not(.disabled).ip-select-open {
        outline: 0;
        border-color: $primary;
        box-shadow: 0 0 0 $input-focus-width rgba($primary, .5);
    }

    &.disabled {
        opacity: $btn-disabled-opacity;
        cursor: not-allowed;
        @include box-shadow(none);
    }

    //展开标记
    > i.iconfont {
        position: absolute;
        right: 5px;
        top: 50%;
        color: $gray-500;
        transition: all .3s ease-in-out;
        transform: translateY(-50%) rotate(0deg);
    }

    &.ip-select-open {
        i.iconfont {
            transform: translateY(-50%) rotate(-180deg);
        }
    }

    .ip-select-render:after {
        content: ',';
        visibility: hidden;
        pointer-events: none;
        width: 0;
        display: inline-block;
    }
    //结果
    .multi-selection {
        span.checked-item{
            position: relative;
            display: inline-block;
            background: #f3f3f3;
            margin-right: 5px;
            padding: 0 3px;
            border-radius: 3px;
            i.iconfont{
                transform: scale(0.8);
                display: inline-block;
                font-size: 12px;
                cursor: pointer;
                &:hover {
                    color: $red;
                }
            }
        }
    }
}
.select-list{
    overflow: auto;
    background: $white;
    max-height: 212px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border: $btn-border-width solid $input-btn-border-color;
    border-radius: $border-radius; 
}
ul.list, .list ul {
    background: $white;
    li {
        padding: 5px;
        line-height: 25px;
        background: $white;
        i.iconfont {
            float: right;
            font-size: 12px;
        }

        &.odd {
            background: #F5F5F5;
        }

        &:not(.disabled),
        &:not(.disabled).checked {
            cursor: pointer;
            &:hover {
                background: rgba($primary, .2)!important;
            }
        }
        &:not(.disabled).checked {
            background: rgba($primary, .1);
        }

        &.disabled {
            color: $gray-500;
            background: $gray-100;
        }
        &.disabled.checked {
            background: darken(rgba($primary, .1), 15%);
        }
    }
}
.ip-select-sm {
    @include input-size($input-padding-y-sm, $input-padding-x-sm, $font-size-sm, $input-line-height-sm, $input-btn-border-radius-sm);
}
.ip-select-lg {
    @include input-size($input-padding-y-lg, $input-padding-x-lg, $font-size-lg, $input-line-height-lg, $input-btn-border-radius-lg);
}