/*---------------------------------------------------树组件样式----------------------------------------------*/

.dict-comparison-tree .my-tree .node-wrapper .toggle-children-wrapper {
    vertical-align: -webkit-baseline-middle;
}

/*---------------------------------------------------树组件样式----------------------------------------------*/

.dict-comparison-tree .my-tree .node-wrapper .toggle-children-wrapper {
    vertical-align: -webkit-baseline-middle;
}

/*---------------------------------------------------填充组件样式----------------------------------------------*/

.ip-input-affix-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.ip-input-affix-wrapper .ip-input-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    line-height: 0;
    color: rgba(0, 0, 0, 0.65);

}

/************************公用组件table有滚动条的时候样式***************************************/
.hideBorderBottom table tr:last-child {
    border-bottom: transparent;
}