@mixin make-mask($opacity, $color, $islocal, $isfade) {
    @if $islocal {
        position: absolute;
    } @else {
        position: fixed;
    }
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    @if $isfade {
        @include fade($color, $opacity);
    }
    z-index: 1001;
}

@mixin fade($color, $opacity) {
    background: rgba($color, $opacity);
}

@mixin dialog-size($width, $height) {
    width: $width;
    height: $height;
}